.basictab{
	padding: 3px;
	margin-left: 0;
	font: bold 12px Verdana;
	border-bottom: 1px solid AliceBlue;
	list-style-type: none;
	margin-bottom: 0;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
	background-color: inherit;
}

.basictab li{
	display: inline;
	margin: 0;
}

.basictab li a{
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 2px;
	border: 1px solid AliceBlue;
	border-bottom: none;
	background-color: inherit;
	color: AliceBlue;
}

.basictab li span{
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 2px;
	border: 1px solid AliceBlue;
	border-bottom: none;
	background-color: inherit;
	color: AliceBlue;
}


.basictab li a:visited{
	color: AliceBlue;
}

.basictab li a:hover{
	background-color: AliceBlue;
	color: inherit;
}

.basictab li a:active{
	color: AliceBlue;
}

.basictab li.selected a{ /*selected tab effect*/
	position: relative;
	top: 1px;
	padding-top: 4px;
	background-color: inherit;
	color: AliceBlue;
}

.submenustyle{
	padding: 2px 1px;
	font: regular 12px Verdana;
	border-top: none;
	width: auto;
	display: none;
	filter:alpha(opacity=0);
	-moz-opacity:0;
}

* html .submenustyle{ /*IE only width definition*/
	width: 100%;
}

.submenustyle a{
	padding: 1px 5px;
	text-decoration: none;
	background-color: inherit;
	color: AliceBlue;
}

.submenustyle span{
	padding: 1px 5px;
	text-decoration: none;
	background-color: inherit;
	color: AliceBlue;
}

.submenustyle a:hover{
	background-color: inherit;
	color: AliceBlue;
}
<!-- vim:set ts=2 sw=2: -->