/* CSS Document */

.page-bg {
	background-color: Gainsboro;
}
.mainTable-bg {
	background-color: #7286A7;
}
.col1-bg {
	background-color: #45556E;
}
.col1-txt {
	color: #91A1BA;
}
.col1-hilite {
	color: #D0D7E2;
}
.col1-hr {
	border:0;
	width:60%;
	background-color: #D0D7E2;
	height:2px;
	margin:2px;
}

.col2-bg {
	background-color: #556E45;
}
.col2-txt {
	color: #A1BA91;
}
.col2-hilite {
	color: #D7E2D0;
}
.col2-hr {
	border:0;
	width:60%;
	background-color: #D7E2D0;
	height:2px;
	margin:2px;
}
.col3-bg {
	background-color: #6E4555;
}
.col3-txt {
	color: #BA91A1;
}
.col3-hilite {
	color: #E2D0D7;
}
.col3-hr {
	border:0;
	width:60%;
	background-color: #E2D0D7;
	height:2px;
	margin:2px;
}
<!-- vim:set ts=2 sw=2: -->