/* CSS Document */

.page-bg {
	background-color: Gainsboro;
}
.mainTable-bg {
	background-color: #86191D;  <!-- #88191d; #87191b;-->
}
.horizontalPanelTextColor {
	color:#520f10;
}
.col1-bg {
	background-color: #6A87CF;
}
.col1-txt {
	color: #434956;
}
.col1-hilite {
	color: #D0D7E2;
}
.col1-hr {
	border:0;
	width:60%;
	background-color: #D0D7E2;
	height:2px;
	margin:2px;
}

.col2-bg {
	background-color: #87CF6A;
}
.col2-txt {
	color: #4B5945;
}
.col2-hilite {
	color: #E2EEDC;
}
.col2-hr {
	border:0;
	width:60%;
	background-color: #E2EEDC;
	height:2px;
	margin:2px;
}
.col3-bg {
	background-color: #CF6A87;
}
.col3-txt {
	color: #392C31;
}
.col3-hilite {
	color: #E7D6DD;
}
.col3-hr {
	border:0;
	width:60%;
	background-color: #E2D0D7;
	height:2px;
	margin:2px;
}

.bnr-bg {
	background-color: #958DEB;
}
.bnr-txt {
	color: #4C4879;
}
.bnr-hilite {
	color: #DBDFF0;
}
.bnr-hr {
	border:0;
	width:60%;
	background-color: #DBDFF0;
	height:2px;
	margin:2px;
}
<!-- vim:set ts=2 sw=2: -->