/* CSS Document */

/* Mobile browsers only */
@media only screen and (max-device-width: 480px) {
	html { -webkit-text-size-adjust:100% }
}

@media(-webkit-min-device-pixel-ratio:0) {

}

	body{
		background-color:#dcdcdc;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		text-align:left;
	}
	
	#mainContainer{
		
		width:100%;
		height:100%;
		text-align:center;
	
	}
	
	#mainTable{
		width:849px;
		height:100%;
		border:solid 1px #cccccc;
		background-color:#ffffff;
		font-size:12px;
	}
	
	#footer{
		border-top:solid 1px #cccccc;
		background-color:#dcdcdc;
		font-size:10px;
		color:#fafafa;
		font-weight:bold;
		text-align:right;
		padding:3px;
	}
	
	#mainContent{
		padding:12px;
		text-align:left;
	}
	
	.mainTitle{
		font-size:24px;
		color:#0011cc;
		text-align:left;
	}
	
	.mainText{
		font-size:14px;
		color:#7286A7;
	}
	
	.mainTextContainer{
		padding:12px;
	}
	
	.mainTextContainerGray{
		padding:12px;
		border:solid 1px #7286A7;
		background-color:#dcdcdc;
	}
	.ticketInfo{
		background-color:#FFFFCC;
		padding:8px;
		font-size:11px;
		color:#999900;
	}
	
	.cast{
		background-color:#cccccc;
		border:solid 1px #666666;
		
	}
	.castHeader{
		background-color:#666666;
		color:#ffffff;
		font-weight:bold;
	}
	.castRow{
		background-color:#ffffff;
		border-bottom:dotted 1px #cccccc;
		color:#666666;
		font-size:12px;
	}
	
	.timelineYear{
		font-size:24px;
		color:#7286A7;
		font-weight:bold;
		text-align:center;
	}
	
	.timelineDate{
		font-size:12px;
		color:#0011cc;
		font-weight:normal;
		text-align:center;	
	}
	
	.timelineName{
		font-size:24px;
		color:#000000;
		font-weight:bold;
		text-align:center;
	}
	
	.timelineDirector{
		font-size:16px;
		color:#000000;
		font-weight:bold;
		text-align:center;
	}
	img.expando{
		border: none;
		vertical-align: top; /*top aligns image, so mouse has less of a chance of moving out of image while image is expanding*/
	}
	.button {
		border: 1px solid #006;
		background-color: #ccf;
		font-weight: bold;
		font-size: 14px;
	}
	.button:hover {
		border-color: #f00;
		background-color: #eef;
	}
	.button:active {
		color: red;
	}
	.textBlock {
		display:block;
		border:1px solid #7286A7;
		margin:10px 25px;
		padding:10px;
	}
	.errorTextBlock {
		display:block;
		border:1px solid #7286A7;
		margin:10px 25px;
		padding:10px;
		color:red;
	}
	form {
		margin-bottom:0em;
	}
	label {
		display: block;
		width: 90px;
		float: right;
		text-align: left;
	}
	table.ticketTable td,th {
		text-align:left;
		padding:0px;
		vertical-align:middle;
	}
	table.productTable {
		font-size:14px;
		vertical-align:middle;
	}
	table.productTable td {
		font-weight:bold;
		text-align:left;
		padding:5px;
	}
	table.productTable th {
		text-align:right;
		padding:5px;
	}
	input[type="text"], textarea {
		font-weight:bold;
		background-color:AliceBlue;
	}
	.strikethru {
		text-decoration:line-through;
	}
	.bold {
		font-weight:bold;
	}
	sub, sup {
		/* Specified in % so that the sup/sup is the right size relative to the surrounding text */
		font-size: 75%;

		/* Zero out the line-height so that it doesn't nterfere with the positioning that follows */
		line-height: 0;

		/* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
		position: relative;

		/* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
		vertical-align: baseline;
	}
	sup {
		/* Move the superscripted text up */
		top: -0.5em;
	}
	sub {
		/* Move the subscripted text down, but only half as far down as the superscript moved up */
		bottom: -0.25em;
	}
</style>
<!-- vim:set ts=2 sw=2: -->